<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mywebproject.Mapper.loginMapper">
    <select id="selectUserNamePassword" resultType="integer">
        select id from myuser
        <where>
            userName = #{userName} and userPassword = #{userPassword}
        </where>
    </select>
    <select id="findByUserEmail" resultType="integer">
        select id from myuser
        <where>
            userEmail = #{userEmail}
        </where>
    </select>
</mapper>